:root {
  /* Colors */
  --background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --foreground-muted: oklch(55% 0.02 264);
  --primary: oklch(50% 0.3 285);
  --focus: oklch(50.384% 0.29377 285.384 / 0.4);
  --secondary: oklch(92% 0 271);

  /* Font */
  --font-sans: sans-serif;
}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus-visible {
  outline: 3px solid var(--focus);
  outline-offset: 1px;
}

body {
  font-family: var(--font-sans);
  color: var(--foreground);
  background-color: var(--background);
}

button {
  user-select: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
  touch-action: manipulation;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* LAYOUT */
main {
  --content-width: 900px;
  --page-padding-x: 1.25rem;

  width: 100%;
  max-width: calc(var(--content-width) + var(--page-padding-x) * 2);
  margin-inline: auto;
  padding: 2rem var(--page-padding-x);
}

.pricing {
  > :not(:first-child) {
    margin-top: 3.125rem;
  }
}

/* COMPONENTS */
.intro {
  .heading {
    h1 {
      font-size: 2.25rem;
      line-height: 1.05;
    }

    p {
      color: var(--foreground-muted);
      font-size: 0.8rem;
    }
  }
}

.switch {
  color: var(--foreground-muted);
  font-size: 0.8rem;
  border-radius: 0.5rem;

  i {
    font-size: 1.5rem;
  }

  &.active i {
    color: var(--foreground);
  }
}

.cards {
  --gap: 1.5rem;
  --columns: 1;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  > .card {
    /* Subtract the total row gaps, then divide the remaining space by the number of columns */
    flex: 1 1 calc((100% - (var(--columns) - 1) * var(--gap)) / var(--columns));
  }

  @media (min-width: 640px) {
    --columns: 2;
  }

  @media (min-width: 900px) {
    --columns: 3;
  }
}

.card {
  background-color: var(--background);
  color: var(--foreground);
  padding: 2.2rem 2.25rem 2.7rem 2.25rem;
  border-radius: 1rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);

  > :not(:first-child) {
    margin-top: 1.25rem;
  }

  .heading {
    h2 {
      font-size: 1.5rem;
    }

    p {
      color: var(--foreground-muted);
      font-size: 0.8rem;
    }
  }

  .price {
    text-align: center;

    .currency {
      font-size: 1.1rem;
      font-weight: bold;
    }

    .amount {
      font-size: 2.8rem;
      font-weight: bold;
    }

    .period {
      color: var(--foreground-muted);
      font-size: 0.875rem;
    }
  }

  .discount {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 0.8rem;
  }

  .btn {
    margin-top: 1.6rem;
  }

  /* FEATURED CARD (Professional Card) */
  &.featured {
    background-color: var(--primary);
    color: var(--background);

    .heading p,
    .price .period {
      color: var(--background);
    }

    .btn {
      background-color: var(--background);
      border-color: var(--primary);
      color: var(--primary);
    }
  }
}

.badge {
  background-color: var(--secondary);
  color: var(--foreground);
  padding: 0.25rem 0.4rem;
  border-radius: 0.35rem;
}

.btn {
  display: inline-block;
  width: 100%;
  background-color: var(--primary);
  color: var(--background);
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 0.8rem;
  border: 2px solid var(--primary);
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    transform: scaleX(0.98) translateY(1px);
  }
}

.features {
  font-size: 0.875rem;

  li {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    i {
      font-size: 1.5rem;
      line-height: 1.6;
    }
  }
}

/* ====================== */
/* DEBUG */
.debug {
  main {
    outline: 2px dotted blue;
  }

  section.pricing {
    outline: 2px dashed red;
  }

  .intro,
  .cards {
    outline: 2px solid green;
  }

  .cards .card,
  .intro .heading,
  .intro .switches {
    outline: 2px solid magenta;
  }
}
